<div id="home" class="container">
  <h1 class="title mb-3"><i class="fa fa-desktop" aria-hidden="true"></i> Project Dashboard</h1>

  <div class="card mb-3">
    <div class="card-header">
      <div class="btn-group float-right">
        <app-launch-modal classes="btn btn-secondary btn-sm btn-block"
                          modal="ViewerImgComponent" size="xl" [data]="screenshots.loanDelegator" dataAlt="Loan Delegator" [isButton]="true">
          <i class="fa fa-camera" aria-hidden="true"></i> View Screenshots
        </app-launch-modal>
        <a class="btn btn-primary btn-sm btn-block" href="https://jerrolkrause.github.io/mello-labs-skill-based-routing/#/" target="_blank"><i class="fa fa-expand" aria-hidden="true"></i> Launch Prototype</a>
      </div>
      <h2>Loan Delegator</h2>
    </div>
    <div class="card-block p-0">
      <div class="row">
        <div class="col-12 col-md-6 img-hp">
          <div class="img-hp-bg" style="background:url(assets/img/loan-delegator-md.jpg) no-repeat top left;">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="pt-3 pb-3 pr-3">
            <p class="card-text">
              Version 2.0 of Skills based routing. Loan Delegator is a combination of administration dashboard and a rules engine that will provide complex logic to assign loans to resources. This version will be applied to LD Wholesale and for Underwriters. The dashboard allows management of resources, pods, personal skills, state limitations, PTO (vacation time) and existing capacity in order to provide assignment.
            </p>
            <p class="card-text">
              Once the assignment has occurred, the dashboard provides reporting and the ability to resolve unassigned loans, or review assignments and manually reassign. Finally the dashboard will allow an administrator to kick off a manual job, that would otherwise run on  a schedule.
            </p>

            <div class="progress">
              <div class="progress-bar bg-success text-left pl-2" role="progressbar" style="width: 85%">Progress</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>

