<div id="home" class="container">
  <h1 class="title mb-3"><i class="fa fa-desktop" aria-hidden="true"></i> Project Dashboard</h1>

  <!-- Title Workflow -->
  <app-product-listing appName="Title Workflow"
                       linkPrototype="https://jerrolkrause.github.io/mello-labs-title/#/"
                       progress="30"
                       [screenshots]="screenshots.titleWorkflow">
    <p>
      Taking data from an automated OCR process and comparing it to the existing LOS data, the Title Workflow is a workstation that prototypes the ability for processing/UW to have a one stop place to handle all of the title workflow needs.  The application will provide the users with the ability to preview documents associated with title research, OCR data side by side with Empower data, and the ability to send updates directly to Empower.
    </p>
    <p>
      A dashboard features outstanding loans to be worked on, and gives flags around complete, data missing, data mismatch for each data section giving a very high level overview of the loan status.  Loans being worked will indicate locked state, allow for document final stamping, and audit log to ensure change tracking.
    </p>
  </app-product-listing>


  <!-- Loan Delegator -->
  <app-product-listing appName="Loan Delegator"
                       linkPrototype="https://jerrolkrause.github.io/mello-labs-skill-based-routing/#/"
                       progress="85"
                       [screenshots]="screenshots.loanDelegator">
    <p>
      Version 2.0 of skills based routing. Loan Delegator is a combination of administration dashboard and a rules engine that will provide complex logic to assign loans to resources. This version will be applied to LD Wholesale and for Underwriters. The dashboard allows management of resources, pods, personal skills, state limitations, PTO (vacation time) and existing capacity in order to provide assignment.
    </p>
    <p>
      Once the assignment has occurred, the dashboard provides reporting and the ability to resolve unassigned loans, or review assignments and manually reassign. Finally the dashboard will allow an administrator to kick off a manual job, that would otherwise run on  a schedule.
    </p>
  </app-product-listing>

  <!-- Ops Orc -->
  <app-product-listing appName="Operations Orchestration - BPMS"
                       progress="50"
                       [screenshots]="screenshots.opsOrc">
    <p>
      Our in-house Business Processing Management System is built to allow a complicated workflow to be broken apart into individual steps called “workstations”. The workstations are delivered via screen pop, or queue to resources with the available skillset to complete the task.
    </p>
    <p>
      Eligibility engine and task assignment engines allow the tasks to be generated and distributed across the system. With a built-in API integration for 3rd party services and Empower/EPS, the BPMS provides a high level of generic support for any type of task necessary.
    </p>
    <p>
      Tasks themselves are broken apart into “circuits” which can be used to define a specific unit or collection of work. For example, Title or Escrow.
    </p>

  </app-product-listing>

  <!-- Document Portfolio -->
  <app-product-listing appName="Document Portfolio"
                       progress="100"
                       [screenshots]="screenshots.docPortfolio">
    <p>
      The web-based document management system that replaces the legacy M4Docs Win Form app. Document Portfolio offers a rich UI integration and includes many of the popular features enjoyed today in M4Docs.
    </p>
    <ul>
      <li>Stacking order</li>
      <li>Mark for review/final stamp</li>
      <li>Trash bin</li>
      <li>Rotate, split, merge, exclude pages</li>
      <li>Download / Preview</li>
    </ul>
    <p>
      The Document portfolio also offers an extensive “add document” workflow that can allow users to drag/drop from MS Outlook or their desktops into “document loading zones” which will launch custom workflows based on the zone used.
    </p>
    <p>
      Upcoming features include:
    </p>
    <ul>
      <li>Document Annotation</li>
      <li>Watermark Esign (for underwriters)</li>
      <li>Import pages</li>
      <li>Export pages</li>
    </ul>
  </app-product-listing>

  <!-- Dialer Cisco Integration for Purchase Lead project (SalesForceSupportService) -->
  <app-product-listing appName="Dialer Cisco Integration for Purchase Lead project (SalesForceSupportService)"
                       progress="100"
                       [screenshots]="screenshots.ciscoIntegration">
    <p>
      When Scripter transfers leads its uses BI routing logic to determine the Retail Loan Officer in a nearby Zip code. SFSS handles inserting lead info into Sales Force sending non Sales Force LLOs an email with lead data and also sends borrower welcome emails after looking up RLO images and branch info. This application has been in pilot with 80 people for several months.
    </p>
  </app-product-listing>

  <!-- Cisco Retail Agent Availability -->
  <app-product-listing appName="Cisco Retail Agent Availability"
                       progress="100"
                       [screenshots]="screenshots.agentAvailability">
    <p>
      This project integrates the Dialer and Scripter with Cisco’s phone system. This utilized the custom availability app Jabber and Finesse for custom Retail Loan Officers. This allowed Retail Loan Officers to toggle their availability to take warm transfer leads for purchase loans. This was all set up and demoed to Dom and Norm. This project was put on hold due to licensing costs.
    </p>
  </app-product-listing>

  <!-- Document Split Utility -->
  <app-product-listing appName="Document Split Utility"
                       progress="20"
                       [screenshots]="screenshots.docSplit">
    <p>
      The DSU is used for bulk splitting documents. Currently, DSU is inside M4Docs in Empower but is being re-worked on a brand new web-based application. The new DSU will offer advanced functionality around preview of pages in existing rules, and the ability to right-click and insert pages into an already existing rule.  Features include:
    </p>
    <ul>
      <li>Split screen for rules vs target document</li>
      <li>Custom hotkeys for quick add</li>
      <li>Rules support all existing functionality (side, rotate, condition linking, notes, loan number etc)</li>
      <li>Rule validation and previous rule storage</li>
    </ul>
  </app-product-listing>

  <!-- Lead Marketplace -->
  <app-product-listing appName="Lead Marketplace"
                       progress="1"
                       [screenshots]="screenshots.leadMarketplace">
    <p>
      This is still a very early design. The process here is to allow for a loan officer to pre-pay (subscription based) for leads that would be delivered daily to the user's CRM pipeline.
    </p>
    <p>
      These leads would be exclusive to the loan officer and would not be redistributed or dialed by the contact center.  Prototype images here show a possible workflow for loan officer experience of signup and subscription.
    </p>
  </app-product-listing>

</div>

