// Include global application specific styling here
//body{font-weight:normal;}

// Pink labs background
header .bg-mello { background-image: -webkit-gradient(linear,left top,left bottom,from(#e4b0c6),to(#f7276e));background-image: linear-gradient(180deg,#e4b0c6 0,#f7276e);}

/*.title{border-bottom-color:#5C2D91;color:#5C2D91;
  .fa{background-color: #5C2D91;}
}
h1, h2, h3, h4, h5, h6{color:#5C2D91;}*/
